@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  box-sizing: border-box;
}

body{
  background-color: #FCF0CC;
  font-family: 'Lato', sans-serif;
  margin: 0;
  
  
}


nav{
  background-color: #A64253;
  color: #fff;
  display: flex;
  justify-content: flex-end;
  padding: 15px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  
}

nav a{
  color :#fff;
  position: relative;
  margin-left: 20px;
  text-decoration:  none;
}
nav a::after {
  content: "";
  border-bottom: 3px solid #fff;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(10px);
  transition: transform 0.3 ease;
  height: 100%;
  width: 100%;
}
nav a:hover::after {
  border-bottom: 3px solid #fff;
  transform: translateY(0);
}

header {
  background-image: url("https://images.unsplash.com/photo-1520085601670-ee14aa5fa3e8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-size: cover;
  background-position: center center;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center; 
  flex-direction: column;
  height:100vh;
  position: relative;
}

header::after {
  content: "";
  background-color: #000;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  
}

header * {
  position: relative;
  z-index: 1;
  
}

header h1 {
  font-size: 60px;
  margin-bottom: 5px;
  margin-top: 0;
  
}

header p {
  font-size: 30px;
  margin: 0;
}

section {
  padding: 40px;
  text-align: center;
  
}

section h2{
  margin-bottom: 0;
}

section p {
  margin-top: 0;
  
} 


.projects {
  margin: 10px;
  max-width: 250px;
}

.projects img {
  max-width: 100%;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
}

.projects p {
  font-size: 20px;
  margin-top: 10px;
}
.bg-pinkish {
  background-color: #A64253;
  color: #fff;
  
}

.social-ul {
  display: flex;
  list-style-type: none;
  justify-content: center;
  padding: 0;
  margin: 0;
  
}

.social-ul a {
  border-radius: 50%;
  border: 3px solid #fff;
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  margin: 0 10px;
  height: 50px;
  width: 50px;
  text-decoration: none;
    
}

footer{
  background-color: #A64253;
  color:#fff;
  padding: 10px;
  text-align: center;
}